.show {
    padding: 15px;
    display: grid;
    text-align: end;
    justify-items: flex-end;
    margin-top: 30px;
    &__btn {    
        padding: 10px 20px;
        background: rgb(216, 97, 97);
        color: white;
        cursor: pointer;
        border-radius: 4px;
        font-weight: bold;
        border: none;
        box-shadow: 5px 5px 5px rgba(102, 101, 101, 0.815);
        &:hover {
            box-shadow: 2px 2px 5px rgba(102, 101, 101, 0.815);
        }
    }
}